/*

mao: custom settings that deviate from Bootstrap's default values

*/

$font-family-sans-serif:  Consolas, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

.maomao { display: block; }