@import 'bootstrap';
@import 'custom-variables';
@import 'custom-other';
//@import 'bootstrap/utilities';

/*

mao: my own semantic classes

*/

$amColor: hsl(119, 38%, 31%);

.mao {
  color: $amColor;
  font-weight: bold;
}

.todo {
  font-family: "Consolas";
  font-size: 36pt;
}

.col-md-4 {
  background-color: #0f7595;
  footer {
    font-family: $font-family-sans-serif;
    color:  $mao_test;
    background-color: rosybrown;
  }

.mao_test {
  color: $mao_test;
}
}
